# Qt and CMake build files
build*/
*.pro.user
*.pro.user.*
*.qmake.stash
*.autosave
*.obj
*.o
*.dll
*.exe
*.so
*.a
*.lib
*.ncb
*.sdf
*.opensdf
*.log
*.cache
*.ilk
*.ipch
*.pch
*.pyc
*.user
*.vs
CMakeLists.txt.user
cmake-build-*/
.DS_Store
.vscode/
